$desktop:1200px;
$laptop:1024px;
$tablet:868px;

//.durak_game_container {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translateX(-50%) translateY(-50%);
//  margin: auto auto;
//  width: 900px;
//  height: 500px;
//  z-index: 1;
//}
//
//@media (orientation: landscape) and  (max-width: $tablet) {
//  .durak_game_container {
//    width: 580px;
//    height: 300px;
//    overflow: hidden;
//  }
//}